.header {
  padding: 50px 65px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f6f6f6;

  &__logo {
    height: 50px;
    display: flex;
    align-items: center;
  }
}

@media (max-width: 1024px) {
  .header {
    padding: 30px;
  }
}

@media (max-width: 530px) {
  .header__description {
    display: none;
  }
}

@media (max-width: 480px) {
  .header {
    justify-content: center;
    padding: 20px;
  }
}
